.bg-primary-light {
    --#{$prefix}badge-color: #2b57da;
    background-color: #d6e0ff;
    border:1px solid #bdcdff;
}

.bg-secondary-light {
    --#{$prefix}badge-color: #3e3f40;
    background-color: #e2e6ed;
    border:1px solid #D5DBE1;
}

.bg-success-light {
    --#{$prefix}badge-color: #006908;
    background-color: #ccf7e5;
    border:1px solid #A6EB84;
}

.bg-info-light {
    --#{$prefix}badge-color: #0055BC;
    background-color: #CFF5F6;
    border:1px solid #A2E5EF;
}

.bg-warning-light {
    --#{$prefix}badge-color: #A82C00;
    background-color: #FCEDB9;
    border:1px solid #FCD579;
}

.bg-danger-light {
    --#{$prefix}badge-color: #B3093C;
    background-color: #FFE7F2;
    border:1px solid #FFCCDF;
}

.badge-dismissible button.btn-close {
    height: 0.35em;
    width: 0.35em;
    vertical-align: middle;
    margin-top: -3px;
    background: rgba(0,0,0,0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238d8d8d'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

