.btn-white {
  --bs-btn-border-color: var(--bs-gray-300);
  --bs-btn-active-border-color: var(--bs-gray-300);
  --bs-btn-hover-bg:  var(--bs-gray-100);
  --bs-btn-hover-border-color: var(--bs-gray-400);
  --bs-btn-color: var(--bs-gray-900);
}

// TODO: fix temporary work around when update bootstrap
.btn-sm {
    line-height: 1.75;
}
