.btn-white {
  --bs-btn-border-color: var(--bs-gray-300);
  --bs-btn-active-border-color: var(--bs-gray-300);
  --bs-btn-hover-bg:  var(--bs-gray-100);
  --bs-btn-hover-border-color: var(--bs-gray-400);
  --bs-btn-color: var(--bs-gray-900);
}

// Fix btn-outline-light visibility — too faint by default
.btn-outline-light {
  --bs-btn-color: #{$gray-700};
  --bs-btn-border-color: #{$gray-400};
  --bs-btn-hover-color: #{$black};
  --bs-btn-hover-bg: #{$gray-200};
  --bs-btn-hover-border-color: #{$gray-400};
}
